.cover,
.cover * {
  box-sizing: border-box;
}
.cover {
  background: #88525f;
  height: 960px;
  position: relative;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 100px;
  top: 232px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.join-the-waitlist {
  color: #ffffff;
  text-align: left;
  font-family: "Tobias-Light", sans-serif;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 300;
  position: relative;
  width: 1147px;
}
.logo {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 132px;
  overflow: visible;
}
.focus {
  width: 1048.89px;
  height: 1510.99px;
  position: absolute;
  left: 565.77px;
  top: 510px;
  transform: translate(-8.37px, 3.02px);
  overflow: visible;
}
.enter-email-address {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 739px;
  width: 581px;
  height: 100px;
}